<label>New Server Name</label>
<input 
type="text"
class="form-control"
[(ngModel)]="serverName"
>
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add new Server</button>
<!-- <p ngIf="serverWasCreated">Status: {{ serverCreationStatus }}</p> -->
<!-- <p *ngIf="serverWasCreated; else noServer">Server {{ serverName }} was created</p>
<ng-template #noServer>
    <p>No server was created</p>
</ng-template> -->
<app-server *ngFor="let server of servers" [serverName]="server.serverName"></app-server>
